@keyframes scroll-companies {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-company-scroll {
  animation: scroll-companies 30s linear infinite;
}

.animate-company-scroll:hover {
  animation-play-state: paused;
}
